av==14.1.0
einops
omegaconf
cloudpickle
accelerate
pycocotools
fvcore
diffusers
safetensors
onnxruntime
onnx
onnxconverter-common
torch
torchvision
numpy
scikit-learn
scikit-image
transformers
tqdm
cog
opencv-python
